<div class="site-wrapper" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="heading">
          <span class="text-primary">Contatos</span>
        </h1>

        <p class="heading__sub">
          Estamos a sua disposição para responder qualquer dúvida. Sempre é um placer escutar los entusiastas do vinho.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
        <form action="https://formspree.io/contacto@tueche.com.ar" method="post" data-toggle="validator">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="name">Nome</label>
                <input class="form-control" type="text" name="name" id="name" placeholder="Nome" required>
                <div class="help-block with-errors"></div>
              </div>
              <div class="form-group">
                <label for="email">Correio eletrônico</label>
                <input class="form-control" type="email" name="email" id="email" placeholder="Correio eletrônico" required>
                <div class="help-block with-errors"></div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="message">Mensagem</label>
                <textarea class="form-control" name="message" id="message" rows="5" placeholder="Escreva sua mensagem" required></textarea>
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>

          <input type="hidden" name="_next" value="https://www.tueche.com.ar/pt/thanks.html">
          <input type="hidden" name="_subject" value="Contato web www.tueche.com.ar">
          <input type="hidden" name="_format" value="plain">
          <input class="hidden" type="text" name="_gotcha">

          <div class="text-center">
            <button type="submit" class="btn btn-lg btn-default">
              <span class="oi oi-arrow-right" title="Enviar" aria-hidden="true"></span>
              <span>Enviar</span>
            </button>
            <div class="clearfix"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
