<div class="site-wrapper" id="history">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h1 class="heading">
          Nossa <span class="text-primary">História</span>
        </h1>

        <div class="lead text-center text">
          <p>
            Somos dois irmãos: Franco Catena e Juan Emilio Catena, que junto a nossas famílias decidimos dedicar todo o nosso amor, paixão e conhecimento desde o vinhedo a garrafa.
          </p>
          <p>
            Temos trabalhado desde a nossa infância nos vinhedos, conhecendo todos os ciclos da videira.
          </p>

          <p>
            Este projeto nasceu em 2012, onde começamos a concretizar este sonho de fazer algo perfeito e tradicional. Se unem toda a família, realizando cada passo deste grande ciclo.
          </p>

          <p>
            Reproduzindo nestes grandes vinhos, os conhecimentos incorporados provenientes de gerações de vitivinicultores, conhecimentos técnicos e paixão.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
