<div class="site-wrapper" id="vineyards">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h1 class="heading">
          Os vinhedos
        </h1>

        <div class="lead text-center text">
          <p>
            Nossas uvas vem de Agrelo e Altamira, as duas melhores regiões do mundo para o cultivo de Malbec. Nenhum outro lugar oferece características de solo e clima que acompanhem melhor o desenvolvimento desta variedade.
          </p>

          <p>
            Acompanhamos o vinhedo com a poda e com os tratos culturais, criando condições ótimas, de acordo com as características climáticas de cada ano.
          </p>

          <p>
            Depois de cada elaboração, decidimos com grandes degustações, o destino de cada <em>terroir</em>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
