<div class="site-wrapper" id="winery">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h1 class="heading">
          A vinícola
        </h1>

        <div class="lead text-center text">
          <p>
            <em>
              Localizada en Luján de Cuyo, contamos con piletas de cimento e tanques de aço inoxidável.
            </em>
          </p>

          <p>
            <em>
              Cuidamos para que as máquinas utilizadas sejam menos invasivas, para cuidar e manter as qualidades de nossas uvas, respeitando todo o esforço proveniente do vinhedo e do terroir.
            </em>
          </p>

          <p>
            <em>
              Contamos com duas salas de barricas em que, cuidadosamente mantemos a temperatura e umidade. Buscando sempre o ponto ideal de descanso e oxigenação para nossos vinhos, no melhor lugar possível, “as barricas”.
            </em>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
