<div class="site-wrapper" id="history">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h1 class="heading">
          Our <span class="text-primary">Story</span>
        </h1>

        <div class="lead text-center text">
          <p>
            We are two brothers; Franco Catena and Juan Emilio Catena who, together with our families, decided to express our love, passion and knowledge from the vineyard to the bottle.
          </p>
          <p>
            Since childhood, we have worked in the vineyards, learning and exploring all aspects of their cultivation.
          </p>

          <p>
            This project was born in 2012, when we began to realize our dream of creating something perfect and traditional. Our whole family is involved in each step of this long process.
          </p>

          <p>
            Incorporated in these great wines is the knowledge of generations of winegrowers. They are completed with our technical knowledge and finished with our passion.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
