<div class="site-wrapper" id="vineyards">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h1 class="heading">
          The Vineyards
        </h1>

        <div class="lead text-center text">
          <p>
            Our grapes are grown in Agrelo and Altamira, two of the best areas in the world to grow Malbec. No other region offers the characteristics of soil and climate that so well suit the development of this grape variety.
          </p>

          <p>
            Every year, we take part in the pruning and cultivation, creating optimum conditions in accordance with the climate of the vintage.
          </p>

          <p>
            After each harvest, we decide through long tastings the destiny of each <em>terroir</em>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
