<div class="site-wrapper" id="winery">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h1 class="heading">
          The Winery
        </h1>

        <div class="lead text-center text">
          <p>
            <em>
              Located in Lujan de Cujo, we have concrete vats and stainless steel tanks.
            </em>
          </p>

          <p>
            <em>
              We make sure that all machinery is used in the least invasive manner possible. We do this in order to protect and maintain the qualities of our grapes and out of respect for the influence of the vineyard and the land.
            </em>
          </p>

          <p>
            <em>
              We have two barrel rooms where we jealously guard temperature and humidity. We are constantly searching for optimum conditions for the aging and oxygenation of our wines in the best place possible: “The Barrels”.
            </em>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
