<div class="site-wrapper" id="history">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h1 class="heading">
          Nuestra <span class="text-primary">Historia</span>
        </h1>

        <div class="lead text-center text">
          <p>
            Somos dos hermanos: Franco Catena y Juan Emilio Catena, que junto a nuestras familias hemos decidido volcar nuestro amor, pasión y conocimiento desde el viñedo hasta la botella.
          </p>
          <p>
            Hemos trabajado desde nuestra infancia en los viñedos, recorriendo y conociendo todas su labranzas.
          </p>

          <p>
            Este proyecto nace en 2012, donde comenzamos a concretar este sueño de hacer algo perfecto y tradicional. Se integra toda la familia, realizando cada paso de esta larga cadena íntegramente nosotros.
          </p>

          <p>
            Reproduciendo en estos grandes vinos los conocimientos incorporados, provenientes de generaciones de vitivinicultores. Luego completando con conocimientos técnicos y concluidos con pasión.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
