<div class="site-wrapper" id="winery">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h1 class="heading">
          La Bodega
        </h1>

        <div class="lead text-center text">
          <p>
            <em>
              Ubicada en Luján de Cuyo, contamos con piletas de cemento y tanques de acero inoxidable.
            </em>
          </p>

          <p>
            <em>
              Cuidamos que la maquinaria utilizada sea de lo menos invasiva, para cuidar y mantener las cualidades de nuestras uvas, respetando todo el esfuerzo proveniente del viñedo y su terruño.
            </em>
          </p>

          <p>
            <em>
              Contamos con dos salas de barricas en las que, celosamente, cuidamos temperatura y humedad. Buscando siempre el punto óptimo de descanso y oxigenación para nuestros vinos, en el mejor lugar posible: “Las Barricas”
            </em>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
