<div class="site-wrapper" id="vineyards">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h1 class="heading">
          Los viñedos
        </h1>

        <div class="lead text-center text">
          <p>
            Nuestras uvas provienen de Agrelo y Altamira, las dos mejores zonas en el mundo para el cultivo del Malbec. Ningún otro lugar ofrece características de suelo y climáticas que acompañen mejor el desarrollo de este cepaje.
          </p>

          <p>
            Cada año acompañamos con la poda y las labranzas culturales a los viñedos, creando las condiciones óptimas, de acuerdo las características climáticas de la añada.
          </p>

          <p>
            Luego de cada elaboración decidimos, con largas degustaciones, el destino de cada <em>terroir</em>.
          </p>

          <hr>

          <p>
            <a href="/assets/sheets/es/ficha_tecnica.pdf" target="_blank">
              Descargar ficha técnica
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
