<div class="welcome_classic" id="welcome">
  <div class="welcome-classic__inner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p class="heading__pre">
            Mendoza, Argentina
          </p>

          <h1 class="heading heading_lg">
            Hombre de la tierra
          </h1>

          <p class="heading__sub">
            Inspirado en el trabajo de la gente
          </p>

          <!-- Button -->
          <div class="text-center">
            <a href="#history" class="btn btn-xl btn-primary">
              <span class="oi oi-arrow-right" title="Saber más" aria-hidden="true"></span>
              <span>Saber más</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
